<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="drill">

    <material name="OrangeMaterial">
      <color rgba="0.64 0.64 0.64 1.0"/>
    </material>

    <link name="root_link">
      <inertial>
        <origin xyz="-3.45663 0 2.50471" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="41.32003" ixy="0.22444" ixz="-14.01086" iyy="30.55873" iyz="-0.76454" izz="19.05242"/>
      </inertial>
      <visual name="Drill">
        <origin xyz="-0.37237 0 0.03529" rpy="0 1.5708 0"/>
        <geometry>
          <mesh filename="drill_meshes/dae/Plane.003.dae" scale="0.61114 0.61114 0.61114"/>
        </geometry>
        <material name="OrangeMaterial"/>
      </visual>
      <visual name="Drill Barrel">
        <origin xyz="-6.54089 0 4.97412" rpy="0 1.5708 0"/>
        <geometry>
          <mesh filename="drill_meshes/dae/Plane.005.dae" scale="0.61114 0.61114 0.61114"/>
        </geometry>
        <material name="OrangeMaterial"/>
      </visual>
      <collision name="Drill Barrel.000">
        <origin xyz="-6.34318 0 4.79986" rpy="0 1.5708 0"/>
        <geometry>
          <mesh filename="drill_meshes/dae/Plane.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

      <contact>
        <lateral_friction value="100"/>
      </contact>

      <collision name="Drill.000.001">
        <origin xyz="-0.38526 0 1.97041" rpy="0 1.5708 0"/>
        <geometry>
          <mesh filename="drill_meshes/dae/Plane.002.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>

      <contact>
        <lateral_friction value="100"/>
      </contact>

    </link>

  </robot>
