<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="welding_torch">

    <link name="ee_joint_arm">
      <inertial>
        <origin xyz="-0.01458 -0.00585 0.05244" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.00327" ixy="0.00014" ixz="0.00094" iyy="0.00162" iyz="-0.00039" izz="0.00356"/>
      </inertial>
      <visual name="Body22">
        <origin xyz="-0.01462 -0.00586 0.05218" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body22.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <collision name="Body22.000">
        <origin xyz="-0.01458 -0.00585 0.05244" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body22.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="nozzle_tip">
      <inertial>
        <origin xyz="-0.0157 -0.30904 -0.22158" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.16219" ixy="0.0066" ixz="0.00243" iyy="0.15565" iyz="0.03243" izz="0.00723"/>
      </inertial>
      <visual name="Body28">
        <origin xyz="-0.0156 -0.30844 -0.21793" rpy="-0.92502 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body28.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(214,119,94)"/>
      </visual>
      <collision name="Body28.000">
        <origin xyz="-0.0157 -0.30904 -0.22158" rpy="-0.92502 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body28.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="root">
      <inertial>
        <origin xyz="-0.01448 -0.00427 0.02204" rpy="0 0 0"/>
        <mass value="10.0"/>
        <inertia ixx="0.03949" ixy="0.00443" ixz="-0.00364" iyy="0.02609" iyz="0.01455" izz="0.01959"/>
      </inertial>
      <visual name="Body1">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body1.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,255,255)"/>
      </visual>
      <visual name="Body10">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body10.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body11">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body11.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body12">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body12.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body13">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body13.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(229,234,237)"/>
      </visual>
      <visual name="Body14">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body14.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body15">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body15.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body16">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body16.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body17">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body17.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body18">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body18.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body19">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body19.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body2">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body2.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(175,155,135)"/>
      </visual>
      <visual name="Body20">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body20.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(202,209,238)"/>
      </visual>
      <visual name="Body21">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body21.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body23">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body23.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(76,76,76)"/>
      </visual>
      <visual name="Body24">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body24.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body25">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body25.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(76,76,76)"/>
      </visual>
      <visual name="Body26">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body26.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(198,178,163)"/>
      </visual>
      <visual name="Body27">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body27.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(214,119,94)"/>
      </visual>
      <visual name="Body3">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body3.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(198,193,188)"/>
      </visual>
      <visual name="Body4">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body4.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,199,168)"/>
      </visual>
      <visual name="Body5">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body5.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="0.274509804 0.376470588 0.447058824 1.0"/>
      </visual>
      <visual name="Body6">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body6.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(51,51,51)"/>
      </visual>
      <visual name="Body7">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body7.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body8">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body8.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <visual name="Body9">
        <origin xyz="-0.01459 -0.00427 0.02232" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body9.dae" scale="0.01 0.01 0.01"/>
        </geometry>
        <material name="Opaque(255,206,127)"/>
      </visual>
      <collision name="Body1.000">
        <origin xyz="-0.01408 -0.0047 0.0225" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body1.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body23.000">
        <origin xyz="-0.01585 -0.00436 0.02222" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body23.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body24.000">
        <origin xyz="-0.01479 -0.00422 0.02305" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body24.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body25.000">
        <origin xyz="-0.01463 -0.00463 0.02662" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body25.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body3.000">
        <origin xyz="-0.01408 -0.00373 0.02106" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body3.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body5.000">
        <origin xyz="-0.0139 -0.00438 0.02201" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body5.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="Body6.000">
        <origin xyz="-0.01448 -0.00416 0.02241" rpy="0 0 0"/>
        <geometry>
          <mesh filename="meshes/dae/Body6.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="ee_joint_arm" type="fixed">
      <origin xyz="3e-05 0.00159 -0.02985" rpy="0 0 0"/>
      <parent link="root"/>
      <child link="ee_joint_arm"/>
    </joint>

    <joint name="nozzle_tip" type="fixed">
      <origin xyz="0.00101 0.00731 0.39981" rpy="0.92502 0 0"/>
      <parent link="root"/>
      <child link="nozzle_tip"/>
    </joint>

    <material name="Opaque(175,155,135)">
      <color rgba="0.54902 0.48627 0.42353 1.0"/>
    </material>

    <material name="Opaque(198,178,163)">
      <color rgba="0.62118 0.55843 0.51137 1.0"/>
    </material>

    <material name="Opaque(198,193,188)">
      <color rgba="0.62118 0.60549 0.5898 1.0"/>
    </material>

    <material name="Opaque(202,209,238)">
      <color rgba="0.63373 0.65569 0.74667 1.0"/>
    </material>

    <material name="Opaque(214,119,94)">
      <color rgba="0.67137 0.37333 0.2949 1.0"/>
    </material>

    <material name="Opaque(229,234,237)">
      <color rgba="0.71843 0.73412 0.74353 1.0"/>
    </material>

    <material name="Opaque(255,199,168)">
      <color rgba="0.8 0.62431 0.52706 1.0"/>
    </material>

    <material name="Opaque(255,206,127)">
      <color rgba="0.8 0.64627 0.39843 1.0"/>
    </material>

    <material name="Opaque(255,255,255)">
      <color rgba="0.8 0.8 0.8 1.0"/>
    </material>

    <material name="Opaque(51,51,51)">
      <color rgba="0.16 0.16 0.16 1.0"/>
    </material>

    <material name="Opaque(76,76,76)">
      <color rgba="0.23843 0.23843 0.23843 1.0"/>
    </material>

  </robot>
